<div fxLayout="row wrap">
    <div fxFlex>
        <div fxLayout="column">
            <div>
                <img src="/week-5/in-n-out-booksp1/src/assets/img/tolkien.jpg" width="80%" />
            </div>
            <div>
                <em>
          Photo of J.R.R Tolkien. <a class="attribution-link" href="https://www.tolkiensociety.org/author/biography/" target="_blank">The Tolkien Society.</a>
        </em>
            </div>
        </div>
    </div>

    <div fxFlex>
        <h1 class="blue">J.R.R. Tolkien</h1>
        <p>
            J.R.R. Tolkien, born in 1892, was a renowned British writer and academic. Best known for his epic fantasy novels, "The Hobbit" and "The Lord of the Rings," Tolkien created a rich and detailed fictional world called Middle-earth. His captivating storytelling,
            intricate world-building, and deep characters have made his works beloved by readers worldwide. Besides his literary accomplishments, Tolkien was a respected professor of English language and literature at the University of Oxford. His enduring
            legacy continues to inspire and captivate generations of readers and fantasy enthusiasts.
        </p>
    </div>
</div>