<!-- Janis Gonzalez
Assignment 4.2
WEB-425 Angular with TypeScript
Date: June 18, 2023
Bellevue University
Composer App Component HTML
 -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/composer-list">Composer List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
<br /> <br/>
<div role="main" class="container">
    <br /><br />

    <h2>Exercise 4.4 - Async Pipe</h2>

    <br /><br />
    <div class="row">
        <div class="col-sm-12">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>