<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="assets/trevormorris" alt="Composer" class="img-fluid">
        </div>
        <div class="col-sm-8">
            <p>
                Trevor Morris is a Canadian composer known for his outstanding contributions to film, television, and video game soundtracks. With a career spanning over two decades, Morris has garnered acclaim for his versatile musical compositions, which range from
                epic orchestral scores to modern electronic soundscapes. His notable works include the music for popular television shows like "The Tudors" and "Vikings," as well as video games such as "Dragon Age: Inquisition." Morris has received several
                awards and nominations for his exceptional talent and continues to captivate audiences with his emotionally resonant and immersive musical creations.
                <a href="https://www.trevormorris.com/new-index">Source</a>
            </p>
        </div>
    </div>
</div>