<div fxLayout="row wrap">
    <div fxFlex>
        <mat-card-title class="card-title-icon">
            <mat-icon color="primary">Navigation</mat-icon>
        </mat-card-title>
        <br />
        <mat-card-content class="align-center">
            <p> The Tolkien Estate Limited,</p>
            <p> Prama House, 267 Banbury Road,</p>
            <p> Oxford OX2 7HT, United Kingdom</p>
        </mat-card-content>
    </div>

    <div fxFlex>
        <mat-card-title class="card-title-icon">
            <mat-icon color="primary">Phone</mat-icon>
        </mat-card-title>
        <br />
        <mat-card-content class="align-center">
            <p>Phone US: 123 456-4678</p>
        </mat-card-content>
    </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
    <p style="text-align: center">
        The Tolkien Society is a registered charity (registration no 273809) in England and Wales. Founded 1969.
    </p>
</div>